@model List<FoodForLife.Model.clsDonationDetails>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string RequestStatus = ViewBag.RequestStatus;
}

<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="bs-example widget-shadow" data-example-id="contextual-table">
                @if (RequestStatus == "NEW")
                {
                  <h4>New Request:</h4>
                }
                else if (RequestStatus == "PENDING")
                {
                  <h4>Pending Request:</h4>
                }
                else if (RequestStatus == "COMPLETED")
                {
                  <h4>Completed Request:</h4>
                }

                <table class="table">
                    <thead>
                        <tr>
                            <th>Req Id</th>
                            <th>Donor Name</th>
                            <th>Contact No.</th>
                            <th>Function Date</th>
                            <th>Primary Assignee</th>
                            <th>Secondary Assignee</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var Donor in Model)
    {

                    <tr class="active">
                        <th scope="row"><a href="@Url.Action("DonationDetails","Donation", new { Id =  Donor.DonorId})">@Donor.DonorId</a> </th>
                        <td>@Donor.Name</td>
                        <td>@Donor.ContactNumber</td>
                        <td>@Donor.EventDate.ToShortDateString()</td>
                        <td>@Donor.PrimaryAssignee</td>
                        <td>@Donor.SecondaryAssignee</td>
                        <td><a href="#">View</a></td>
                    </tr>

}
       <script>
        function showHideBlock() {
            var donorDetails = document.getElementById("donorDetailsView");
            var vendorDetails = document.getElementById("vendorDetailsView");
            donorDetails.style.display === "block";
            vendorDetails.style.display === "none";
        }
       </script>

                    </tbody>

                </table>
            </div>

        </div>




    </div>
</div>
