@model FoodForLife.Model.HomeModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string RequestStatus = ViewBag.RequestStatus;
}

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="bs-example widget-shadow" data-example-id="contextual-table">
                @if (RequestStatus == "NEW")
                {
                  <h4>New Request:</h4>
                }
                else if (RequestStatus == "PENDING")
                {
                  <h4>Pending Request:</h4>
                }
                else if (RequestStatus == "COMPLETED")
                {
                  <h4>Completed Request:</h4>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th>Req Id</th>
                            <th>Donor Name</th>
                            <th>Contact No.</th>
                            <th>Function Date</th>
                            <th>Primary Assignee</th>
                            <th>Secondary Assignee</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var Donor in Model.lstDonationDetails)
                {

                    <tr class="active tr-parent">
                        <input type="hidden" class="hf-DonorId" value="@Donor.DonorId" />
                        <th scope="row"><a href="@Url.Action("DonationDetails","Donation", new { Id =  Donor.DonorId})">@Donor.DonorId</a> </th>
                        <td>@Donor.Name</td>
                        <td>@Donor.ContactNumber</td>
                        <td>@Donor.EventDate.ToShortDateString()</td>
                        <td>@Donor.PrimaryAssignee</td>
                        <td>@Donor.SecondaryAssignee</td>
                        @if (RequestStatus == "NEW")
                        {
                            <td><a data-toggle="modal" class="lnk-process" data-target="#myModal" href="#">Process</a></td>
                        }
                        else if (RequestStatus == "PENDING")
                        {
                            <td><a data-toggle="modal" class="lnk-process" data-target="#editModal" href="#">Edit</a></td>
                        }
                        
                    </tr>

                }

                    </tbody>

                </table>
            </div>

        </div>




    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign Vendor and Beneficiary</h4>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Donor Request Id: <span id="spn-reqid"> 
 
                              </span></label>
                        </div>
                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Vendor Name:   </label>
                            <div class="col-sm-8">
                                <select name="selector1" id="vendorSelector" class="form-control1">
                                    <option selected="selected" value="0">Select Vendor</option>
                                    @foreach (var vendor in Model.lstVendors)
                                    {
                                        <option value="@vendor.Id">@vendor.VendorName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Beneficiary Name:   </label>
                            <div class="col-sm-8">
                                <select name="selector1" id="beneficiarySelector" class="form-control1">
                                    <option selected="selected" value="0">Select Beneficiary</option>
                                    @foreach (var beneficiary in Model.lstNGO)
                                    {
                                        <option value="@beneficiary.NGOId">@beneficiary.NGOName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <p style="color:red" id="errorMsg">Please select the Vendor/Beneficiary.</p>
                            <p style="color:darkgreen" id="successMsg">Vendor & Beneficiary assigned successfully to the request ID.</p>
                            <br/>
                            <div class="col-md-10">
                                <div class="col-md-5"> <button type="button" id="vendorSubmit" class="btn btn-default">Assign</button> </div>
                            </div>
                        </div>
                         
                    </form>
                </div>
            </div>  
        </div>

    </div>
</div>

<!--Edit Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vendor and Beneficiary Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">
                                Donor Request Id: <span id="spn-reqid"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Vendor Name:   </label>
                            <div class="col-sm-8">
                                <select name="selector1" id="vendorSelector" class="form-control1">
                                    <option selected="selected" value="0">Select Vendor</option>
                                    @foreach (var vendor in Model.lstVendors)
                                    {
                                        <option value="@vendor.Id">@vendor.VendorName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Beneficiary Name:   </label>
                            <div class="col-sm-8">
                                <select name="selector1" id="beneficiarySelector" class="form-control1">
                                    <option selected="selected" value="0">Select Beneficiary</option>
                                    @foreach (var beneficiary in Model.lstNGO)
                                    {
                                        <option value="@beneficiary.NGOId">@beneficiary.NGOName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selector1" class="col-sm-2 control-label">Beneficiary Name:   </label>
                            <div class="col-sm-8">
                                <select name="selector1" id="beneficiarySelector" class="form-control1">
                                    <option selected="selected" value="1">In Progress</option>
                                    <option value="2">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <p style="color:red" id="errorMsg">Please select the Vendor/Beneficiary.</p>
                            <p style="color:darkgreen" id="successMsg">Vendor & Beneficiary assigned successfully to the request ID.</p>
                            <br />
                            <div class="col-md-10">
                                <div class="col-md-5"> <button type="button" id="vendorSubmit" class="btn btn-default">Assign</button> </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>


    $(document).ready(function () {

        $("#errorMsg").hide();
        $("#successMsg").hide();
        var donorRequestId = "";
        var vendorValue = "";
        var beneficiaryValue = "";

        $('.lnk-process').click(function () {
            donorRequestId = $(this).parent().parent('.tr-parent').find('.hf-DonorId').val();
            document.getElementById("spn-reqid").innerHTML = donorRequestId;
        })

        $('#vendorSubmit').click(function () {
            vendorValue = $("#vendorSelector").val();
            beneficiaryValue = $("#beneficiarySelector").val();
           
            if (vendorValue == 0 || beneficiaryValue == 0) {
                $("#errorMsg").show();
                $("#successMsg").hide();
            }
            else {
               
                $('#vendorSubmit').attr('disable', 'true');


                $.ajax({
                    type: "POST",
                    url: "/Account/AssignVendor",
                    data: {
                        RequestId: donorRequestId,
                        VendorId: $("#vendorSelector").val(),
                        nGoId: beneficiaryValue
                    },
                    success: function (result) {
                        //console.log(result);
                        //console.log(result.oResponse.Result);

                        if (result.oResponse.Result == "Success") {
                            $("#successMsg").show();
                            $("#errorMsg").hide();
                            window.location.reload();

                        }
                        else {

                            $("#errorMsg").show();
                            $("#successMsg").hide();

                        }

                    },
                    error: function (result) {
                        alert('error');
                    }
                });

               
            }
        });

    })






    function myFunction() {
        document.getElementById("vendorForm").reset();
    }
    function validateForm() {
        var vendorContact = document.forms["vendorForm"]["vendorContact"].value;
        var beneficiaryContact = document.forms["vendorForm"]["beneficiaryContact"].value;
        var regexp1 = new RegExp("[^0-9]");
        if (regexp1.test(vendorContact)) {
            alert("Only numbers are allowed in Vendor Contact details.");
            return false;
        }
        if (vendorContact.length < 10) {
            alert("Vendor Contact must be of 10 digit.");
            return false;
        }
        if (regexp1.test(beneficiaryContact)) {
            alert("Only numbers are allowed in Beneficiary Contact details.");
            return false;
        }

        if (beneficiaryContact.length < 10) {
            alert("Beneficiary Contact must be of 10 digit.");
            return false;
        }



    }
</script>
